<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include common utilities -->
  <xacro:include filename="$(find onrobot_description)/urdf/inc/common_utils.xacro" />
  <xacro:include filename="$(find onrobot_description)/urdf/inc/common_materials.xacro" />

  <xacro:macro name="onrobot_rg_base_link" params="prefix">
    <xacro:if value="${onrobot_type == 'rg2'}">
      <xacro:property name="mass" value="0.78" />
      <xacro:property name="ixx" value="1.0E-03" />
      <xacro:property name="ixy" value="1.0E-06" />
      <xacro:property name="ixz" value="1.0E-06" />
      <xacro:property name="iyy" value="1.0E-03" />
      <xacro:property name="iyz" value="1.0E-06" />
      <xacro:property name="izz" value="1.0E-03" />
    </xacro:if>
    <xacro:if value="${onrobot_type == 'rg6'}">
      <xacro:property name="mass" value="1.25" />
      <xacro:property name="ixx" value="1.0E-03" />
      <xacro:property name="ixy" value="1.0E-06" />
      <xacro:property name="ixz" value="1.0E-06" />
      <xacro:property name="iyy" value="1.0E-03" />
      <xacro:property name="iyz" value="1.0E-06" />
      <xacro:property name="izz" value="1.0E-03" />
    </xacro:if>

    <link name="${prefix}onrobot_base_link">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/visual/base_link.stl" />
        </geometry>
        <material name="onrobot_silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/collision/base_link.stl" />
        </geometry>
      </collision>
    </link>
    
    <gazebo reference="${prefix}onrobot_base_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <selfCollide>false</selfCollide>
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="onrobot_rg_outer_knuckle" params="prefix fingerprefix">
    <link name="${prefix}${fingerprefix}_outer_knuckle">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.05" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/visual/outer_knuckle.stl" />
        </geometry>
        <material name="onrobot_silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/collision/outer_knuckle.stl" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}${fingerprefix}_outer_knuckle">
      <mu1>0.1</mu1>
      <mu2>0.1</mu2>
      <selfCollide>false</selfCollide>
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="onrobot_rg_inner_knuckle" params="prefix fingerprefix">
    <link name="${prefix}${fingerprefix}_inner_knuckle">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.05" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/visual/inner_knuckle.stl" />
        </geometry>
        <material name="onrobot_silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/collision/inner_knuckle.stl" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}${fingerprefix}_inner_knuckle">
      <mu1>0.1</mu1>
      <mu2>0.1</mu2>
      <selfCollide>false</selfCollide>
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="onrobot_rg_inner_finger" params="prefix fingerprefix">
    <link name="${prefix}${fingerprefix}_inner_finger">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.05" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/visual/inner_finger.stl" />
        </geometry>
        <material name="onrobot_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_description/meshes/${onrobot_type}/collision/inner_finger.stl" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}${fingerprefix}_inner_finger">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <minDepth>0.00001</minDepth>
      <selfCollide>false</selfCollide>
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="onrobot_rg_finger_joints" params="prefix fingerprefix reflect">
    <xacro:onrobot_rg_inner_knuckle_joint prefix="${prefix}" fingerprefix="${fingerprefix}" reflect="${reflect}"/>
    <xacro:onrobot_rg_inner_finger_joint prefix="${prefix}" fingerprefix="${fingerprefix}"/>
  </xacro:macro>

  <xacro:macro name="onrobot_rg_finger_links" params="prefix fingerprefix">
    <xacro:onrobot_rg_outer_knuckle prefix="${prefix}" fingerprefix="${fingerprefix}"/>
    <xacro:onrobot_rg_inner_knuckle prefix="${prefix}" fingerprefix="${fingerprefix}"/>
    <xacro:onrobot_rg_inner_finger prefix="${prefix}" fingerprefix="${fingerprefix}"/>
  </xacro:macro>
</robot>
